<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_URI} !^public
    RewriteRule ^(.*)$ public/index.php [L]
</IfModule>

 

<Limit GET POST PUT DELETE OPTIONS>
        Require all granted
</Limit>
<LimitExcept GET POST PUT DELETE OPTIONS>
  Require all denied
</LimitExcept>